[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-coverage-plugin = "*"
python-dotenv = "*"
psycopg2 = "*"

[dev-packages]
tox = "*"

[requires]
python_version = "3.9"
